@import '@Project/css/variables.scss';

.row {
    display: flex;
    flex-wrap: wrap;
}
.row-0 {
    justify-content: space-around;
    justify-content: space-evenly;
}
.row-1 {
    justify-content: space-between;
    @media screen and (max-width: 785px) {
         justify-content: space-around;
        justify-content: space-evenly;
    }
}
.componentWrapper {
    width: 230px;
    //height: 300px;
    margin: .625rem .625rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
        width: 100%;
        max-width: 140px;
    }
    @media print {
        width: 200px;
    }
}
.callout {
    text-align: center;
    color: $pew_blue;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.title {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

:global(.dropdown-outer) ul {
    height: 442px;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
:global(.county-data--chart-wrapper) {
    margin-top: 20px;
}