@import '@Project/css/variables.scss';

.svgWrapper {
    width: 100%;
    height: 0;
    max-width: 140px;
    margin: 0 auto;
    position: relative;
    svg {
        position: absolute;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
            height: 40px;

        }
    }

}
.rect {
    transition: height 0.5s ease-in-out, y 0.5s ease-in-out;
    transform: translateZ(0);
}
.rect-0 {
    fill: $gray;
}
.rect-1 {
    fill: $pew_blue;
}
.labels {
    font-size: 10px;
    font-weight: bold;
    text {
        transition: transform 0.5s ease-in-out;
    }
}
.label-0 {
    fill: $a11y;
}
.label-1 {
    fill: $pew_blue;
}
.axis {
    stroke: $gray;
    stroke-width: 1px;
}
.axisLabel {
    fill: $dark_gray;
    font-size: 10px;
}