@import '@Project/css/variables.scss';

.rect {
    transition: height 0.5s ease-in-out, y 0.5s ease-in-out;
    transform: translateZ(0);
}
.rect-0 {
    fill: $gray;
}
.rect-1 {
    fill: $pew_blue;
}
.labels {
    font-size: 10px;
    font-weight: bold;
    text {
        transition: transform 0.5s ease-in-out;
    }
}
.label-0 {
    fill: $a11y;
}
.label-1 {
    fill: $pew_blue;
}
.axis {
    stroke: $gray;
    stroke-width: 1px;
}
.axisLabel {
    fill: $dark_gray;
    font-size: 10px;
}