@import './variables.scss';

/* tippy overrides */

:global(.tippy-box) {
    background-color: #fff;
    color: $dark_gray;
    border: 1px solid $dark_gray;
}
:global(.tippy-arrow){
    color: #fff;
}

:global(#pew-app section) {
    margin-bottom: 60px;
}
:global(.pa-chart-intro) {
    max-width: 650px;
    margin-top: 40px;
}
:global(.pa-county-summary){
    max-width: 650px;
}