@import './variables.scss';

/* tippy overrides */

:global(.tippy-box) {
    background-color: #fff;
    color: $dark_gray;
    border: 1px solid $dark_gray;
}
:global(.tippy-arrow){
    color: #fff;
}

:global(#pew-app section) {
    margin-bottom: 60px;
}
:global(.pa-chart-intro) {
    max-width: 650px;
    margin-top: 40px;
}
:global(.pa-county-summary){
    max-width: 650px;
    margin: 1.2em auto 0;
}
:global(#county-data), :global(#pa-map-container){
    padding-bottom: 30px;
    border-bottom: 1px solid $light_gray;
}
:global(.chart-legend){
    div {
        display: inline-block;
        padding: 0 30px 0 0;
        position: relative;
        line-height: 1;
        svg {
            position: relative;
            top: 1px;
            margin-right: 4px;
            rect {
                fill: $gray;
            }
        }
    }
}
:global(.chart-legend div.legend-item--selected) svg rect {
    fill: $pew_blue;
}
:global(.line-key-wrapper){
    position: relative;
    margin-bottom: 0.5em;
    
    line {
        stroke-width: 2px;
        stroke: $dark_gray;
        stroke-dasharray: 2px 2px;
    }
}
:global(.line-key){
    display: inline-block;
    width: 20px;
    height: 5px;
    border-top: 1px dashed #333;
}