<div id="pew-app" class="pct-section no-js">
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CSymbol%2CSet%2CArray.from%2CNodeList.prototype.forEach%2CArray.prototype.find%2CObject.assign%2CArray.prototype.fill"></script>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link class="emitted-css" href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <section id="pa-map-container">
        <p id="pa-field-selector">Select which measure to visualize on the map:</p>
        <div class="pa-button-container js-pa-button-container">
            <div><label class="active"><input checked type="radio" name="map-field" value="liability" /> Taxpayer burden</label></div>
            <div><label><input type="radio" name="map-field" value="d_ratio" /> Dependency ratio increase</label></div>
            <div><label><input type="radio" name="map-field" value="required" /> Additional savings required</label></div>
        </div>
        <h2 id="mapheader"><span></span></h2>
    </section>
    <section id="county-data">
        <div id="county-data-selector">
        </div>
        <p class="pa-chart-intro">From a 2015 baseline, <span class="js-county-name-inline">Adams</span> County can expect to see the following as a result of an aging population through 2030 (and as compared to statewide results):</p>
        <div class="chart-legend">
            <div>Pennsylvania</div>
            <div class="js-county-legend-inline legend-item--selected">Adams</div>
        </div>
        <div class="county-data--chart-wrapper">
        </div>
        <div class="js-chart-summary pa-county-summary"></div>
    </section>
    <section id="render-here">
        <div class="line-key-wrapper">
            <strong>Legend:</strong> statewide average line <div class="line-key"></div>
        </div>
    </section>
</div>
<div class="clearfix"></div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script class="emitted-bundle" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>