@import '@Project/css/variables.scss';
@import '@Project/css/d3-tip.scss';

:global(.pa-button-container) {
    margin-bottom: 25px;
    display: flex;
    height: 40px;
    max-width: 650px;
}
:global(.g-pstyle0){
    pointer-events: none;
}
:global(.pa-button-container button) {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: $dark_gray;
    &:hover, &:focus, &:global(.active) {
        font-weight: bold;
    }
}
:global(.pa-button-container div) {
    //display: inline-block;
    //padding: .3em 2em;
    width: 33%;
    display: flex;
    justify-content: center;
    width: 250px;
    &:first-child {
        width: 150px;
        justify-content: flex-start;
    }
    &:not(:last-of-type){
        border-right: 1px solid $dark_gray; 
    }
}
:global(path.county){
    transition: fill 0.2s ease-in-out;
    &:hover {
        stroke-width: 3px;
    }
}

:global(#pa-map-container){
    max-width: 800px;
    h2 {
        font-size: 1.5rem;
        max-width: 650px;
    }
}

.legend {
    position: relative;
    width: 175px;
    height: 16px;
    display: flex;
    justify-content: stretch;
    margin: 50px 0 0 10px;
    label {
        position: absolute;
        bottom: 100%;
        left: 0;
        font-size: 0.85rem;
        font-weight: 600;
        &.max {
            left: unset;
            right: 0;
        }
    }
}
.legendDiv {
    flex-grow: 1;
}
.tooltipHead {
    font-size: 0.85rem;
    margin: 0 0 0.25em 0;
}
.d3-tip {
    border-color: $dark_gray;
    &::after {
        color: $dark_gray;
    }
    p {
        margin: 0;
        padding: 0;
        font-weight: 900;
        line-height: 1;
    }
} 