@import '@Project/css/variables.scss';
@import '@Project/css/d3-tip.scss';

:global(.pa-button-container) {
    margin-bottom: 25px;
    display: flex;
    height: 40px;
    max-width: 650px;
    @media screen and (max-width: 435px) {
        flex-direction: column;
        margin-bottom: 35px;
        height: auto;
    }
}
:global(#pa-field-selector){
    display: none;
    font-weight: 900;
    margin-bottom: 0.2em;
    @media screen and (max-width: 435px) {
        display: block;
    }

}
:global(.g-pstyle0){
    pointer-events: none;
}
:global(.pa-button-container button) {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: $dark_gray;
    &:hover, &:focus, &:global(.active) {
        font-weight: bold;
    }
    &:focus {
        outline: 1px dotted #000;
    }
}
:global(.pa-button-container div) {
    //display: inline-block;
    padding: 0 0.8em;
    display: flex;
    justify-content: center;
    width: 250px;
    @media screen and (max-width: 435px) {
        width: 100%;
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 0.2em;
    }
    &:first-child {
        width: 150px;
        justify-content: flex-start;
        padding-left: 0;
        @media screen and (max-width: 435px) {
            width: 100%;
            padding: 0;
        }                               
    }
    &:not(:last-of-type){
        @media screen and (max-width: 435px) {
            border-right-width: 0;
        }
        border-right: 1px solid $dark_gray; 
    }
}
:global(path.county){
    transition: fill 0.2s ease-in-out;
    stroke-width: 1px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        stroke-width: 0.125px;
    }
    &:hover {
        stroke-width: 3px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            stroke-width: 0.375px;
        }
    }
}

:global(#pa-map-container){
    h2 {
        font-size: 1.5rem;
        max-width: 650px;
    }
}

.legend {
    position: relative;
    width: 175px;
    height: 16px;
    display: flex;
    justify-content: stretch;
    margin: 40px 0 0 21px;
    label {
        position: absolute;
        bottom: 120%;
        left: 0;
        font-size: 0.85rem;
        font-weight: 600;
        transform: translateX(-50%);
        &.max {
            left: auto;
            right: 0;
            transform: translateX(50%);
        }
    }
}
.legendDiv {
    flex-grow: 1;
}
.tooltipHead {
    font-size: 0.85rem;
    margin: 0 0 0.25em 0;
}
.d3-tip {
    border-color: $dark_gray;
    &::after {
        color: $dark_gray;
    }
    p {
        margin: 0;
        padding: 0;
        line-height: 1;
        span {
            font-weight: 900;
        }
    }
} 